<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.Starting"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Wearable Listener -->
        <service android:name=".MobileListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data android:host="*" android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/battery-level" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/foobar" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/now-playing" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/active-sync" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/calendar-events" />
            </intent-filter>
        </service>

        <!-- Complications -->
        <service android:name=".complication.NotificationsIconsComplicationService"
            android:icon="@drawable/ic_notif"
            android:label="@string/phone_notifications_complication"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE, LONG_TEXT"/>
        </service>
        <service android:name=".complication.NotificationsIcons4ComplicationService"
            android:icon="@drawable/ic_notif"
            android:label="@string/phone_notifications_complication_4"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT"/>
        </service>
        <service android:name=".complication.NotificationsPreviewComplicationService"
            android:icon="@drawable/ic_notif_alt"
            android:label="@string/phone_notifications_preview_complication"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT"/>
        </service>
        <service android:name=".complication.MobileBatteryComplicationService"
            android:icon="@drawable/ic_phone"
            android:label="@string/phone_battery_preview_desc"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT,LONG_TEXT"/>
        </service>
        <service android:name=".complication.WatchBatteryComplicationService"
            android:icon="@drawable/ic_watch"
            android:label="@string/watch_battery_text"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="RANGED_VALUE,SHORT_TEXT,LONG_TEXT,ICON,SMALL_IMAGE"/>
        </service>
        <service android:name=".complication.WatchTempComplicationService"
            android:icon="@drawable/ic_temp"
            android:label="@string/temp_battery_text"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT"/>
        </service>
        <service android:name=".complication.WatchVoltageComplicationService"
            android:icon="@drawable/ic_voltage"
            android:label="@string/voltage_battery_text"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT"/>
        </service>
        <service android:name=".complication.EventTimerComplicationService"
            android:icon="@drawable/ic_calendar_clock"
            android:label="@string/events_timer_complication"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="2100"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT, SHORT_TEXT"/>
        </service>
        <service android:name=".complication.UpcomingEventComplicationService"
            android:icon="@drawable/ic_event_upcoming_2"
            android:label="@string/upcoming_events_complications"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="2100"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT, SHORT_TEXT"/>
        </service>

        <service android:name=".complication.NowPlayingComplicationService"
            android:icon="@drawable/music_note_24px"
            android:label="@string/now_playing_complication"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
            </intent-filter>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0"/>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE, PHOTO_IMAGE"/>
        </service>

        <service android:name=".widget.PhoneBatteryWidgetService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/phone_battery_widget_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.glance.wear.action.BIND_WIDGET_PROVIDER" />
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.glance.wear.widget.provider"
                android:resource="@xml/phone_battery_widget_info" />
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/widget_preview_large" />
        </service>

        <!-- Receivers -->
        <receiver android:name=".receiver.ComplicationTapBroadcastReceiver" />
        <receiver android:name=".receiver.MediaTapReceiver" />
        <receiver android:name=".receiver.PowerConnectionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AppUpdateBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DateChangedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>